$primary-white: #ffffff;

.playlist{
    margin-top: 10px;
}
.coverContainer{
    margin-top: 10px;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-white;

    .playlistName{
        font-weight: bold;
        font-size: 30px;
    }
    .myBtn{
        width:100px;
        border-radius:100px;
    }
    .heartIcon{
        font-size:25px;
    }

}
